/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

#lista_immagini{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
#lista_nascosta { display: none;}

img{
width: 150px;
height :auto;
bordr: 5px solid  black;
}