<nav class="bg-indigo-700 shadow-lg">
    <div class="container mx-auto">
        <div class="sm:flex justify-around">
            <a href="#" class="text-white text-3xl font-bold p3">WEB ZONE</a>

            <!--Munu items-->
            <ul class="text-gray-400 sm:self-center text-xl border-t sm:border-none">
                <li class="sm:inline-block">
                    <a  routerLink="/home" routerLinkActive="text-white font-bold" class="p-3 hover:text-white cursor-pointer">Home</a>
                </li> 
                <li class="sm:inline-block">
                    <a routerLink="/old-todolist" routerLinkActive="text-white font-bold" class="p-3 hover:text-white  cursor-pointer">old-TodoList</a>
                </li> 
                <li class="sm:inline-block">
                    <a href="/sigtodolist" class="p-3 hover:text-white">signals-Todolist</a>
                </li>
            </ul> 
        </div>       
    </div>
</nav>