<p>cart works!</p>
<div class="flex gap-6 justify-center">
    @for (product of products(); track product.id) {
        <div class="card w-auto bg-base-100 shadow-xl">
            <figure>
                <img 
                    [src]="product.image" 
                    [alt]="product.name" 
                    class="w-full max-h-40 object-contain"
                    />
            </figure>
            <div class="card-body">
                <div class="flex justify-between">
                  <h2 class="card-title">{{product.name}}</h2>
                  <div class="card-title">€ {{product.cost}}</div>
                </div>
                <p>{{product.description}}</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    }
  </div>

<pre>{{products() | json}}</pre>